.app {
  background-image: url(./assets/cold-bg.webp);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm {
  background-image: url(./assets/warm-bg.webp);
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.03),
    rgba(0, 0, 0, 0.03)
  );
  padding: 25px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.search-box {
  grid-row: 3;
  align-self: flex-end;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 0 15px rgb(0 0 0 / 4%);
  color: #313131;
  font-size: 20px;
  transition: 1s ease;
  letter-spacing: 0.8px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 0.8px;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255);
  /* background-color: rgba(255, 255, 255, 0.75); */
}

.location-box .location {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
  letter-spacing: 0.8px;
}

.location-box .date {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 100px;
  text-align: center;
  letter-spacing: 0.8px;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  border-radius: 14px 6px;
  padding: 5px 10px;

  color: #fff;
  font-size: 90px;
  font-weight: 300;

  text-align: center;
  box-shadow: 0 0 15px rgb(0 0 0 / 6%);
}

.weather-box .weather {
  color: #fff;
  font-size: 38px;
  font-weight: 300;
}
